<system.webServer> 
<handlers> 
<add name="DB" path="*.db" verb="*" type="CustomFileHandlerDemo.Handlers.FileProtectionHandler" resourceType="Unspecified" /> 
<add name="INI" path="*.ini" verb="*" type="CustomFileHandlerDemo.Handlers.FileProtectionHandler" resourceType="Unspecified" /> 
</handlers> 
</system.webServer>