<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Search Data</title>
<!-- INC_HEADER -->
<!-- INC_TEMP_HEADER -->
</head>

<body>

<!-- INC_NAVIGATION -->

<!-- FILMS_BEGIN -->
<div class="films"><a href="LINK_INFO"><img src="IMG_POSTER" class="browsing-posters"></a></div>
<!-- FILMS_END -->

<!-- PAGENAV_BEGIN -->
<a href="PAGE_BACK_URL">PREV PAGE</a> <a href="PAGE_NEXT_URL">NEXT PAGE</a>
<!-- PAGENAV_END -->
</body>
</html>
