<!doctype html>
<html style="background: url(TEMP_BACKDROP) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DATA_TITLE</title>
<!-- INC_HEADER -->
<!-- INC_TEMP_HEADER -->
</head>

<body style="">
<!-- INC_NAVIGATION -->
<div class="infoPage_container">

<div class="infoPage_poster">
<img src="DATA_POSTER">
<div class="play_btn"><a href="DATA_VIDEOPATH">WATCH MOVIE</a></div>
</div>

<div class="infoPage_container_outerData">
<div class="infoPage_container_innerData">
<h2>DATA_TITLE</h2>
<div class="infoPage_info"><b>Runtime:</b> DATA_RUNTIME minutes</div>
<div class="infoPage_info"><b>Popularity:</b> DATA_POPULARITY/10</div>
<div class="infoPage_info"><b>Released:</b> DATA_RELEASED</div>
<div class="infoPage_info"><b>Languages:</b> DATA_LANGUAGES</div>
</div>

<div style="infoPage_overview">DATA_OVERVIEW</div>
<div style="infoPage_trailer">
<iframe type='text/html' width='680' height='450' src='https://www.youtube.com/embed/DATA_TRAILER?version=3&#038;rel=1&#038;fs=1&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' frameborder='0'></iframe></div>
</div>

</div>

</body>
</html>
